/* Form Container */
.cancel-form {
    background-color: var(--very-light-grey);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px var(--shadow);
    max-width: 500px;
    margin: 0 auto;
  }
  
  /* Form Title */
  .form-title {
    font-size: 1.8rem;
    color: var(--dark-teal);
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Form Group */
  .form-group {
    margin-bottom: 20px;
  }
  
  /* Form Labels */
  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 1rem;
    color: var(--medium-teal);
  }
  
  /* Form Inputs */
  .form-input, .form-select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    font-size: 1rem;
  }
  
  /* Form Inputs Focus */
  .form-input:focus, .form-select:focus {
    border-color: var(--medium-teal);
    outline: none;
  }
  
  /* Error Message */
  .error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    text-align: center;
  }
  
  /* Button Styling */
  .btn-info {
    background-color: #D8A25E; /* Yellow color */
    color: var(--dark-teal);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color var(--transition);
  }
  
  .btn-info:hover {
    background-color: #D8A25E; /* Darker shade for hover effect */
  }
  .submit-btn:hover {
    background-color: #0056b3;
  }
  