/* Container */
.rebook-container {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
}

/* Form */
.rebook-form {
  background-color: #D4D4CE; /* Soft beige color */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Form Title */
.form-title {
  font-size: 1.8rem;
  color: #023246;
  text-align: center;
  margin-bottom: 20px;
}

/* Form Group */
.form-group {
  margin-bottom: 20px;
}

/* Form Labels */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 1rem;
  color: #023246;
}

/* Form Inputs */
.form-input, .form-select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ddd;
  font-size: 1rem;
  box-sizing: border-box;
}

/* Form Inputs Focus */
.form-input:focus, .form-select:focus {
  border-color: #D8A25E;
  outline: none;
}

/* Button Styling */
.btn-primary {
  background-color: #D8A25E; /* Yellow color */
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-primary:hover {
  background-color: #D8A25E;
}

.btn-secondary {
  background-color: #023246;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-secondary:hover {
  background-color: #021f2c;
}

/* Form Actions */
.form-actions {
  display: flex;
  justify-content: space-between;
}

/* Modal Overlay */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

/* Modal Content */
.modal-content {
  background-color: #D4D4CE; /* Soft beige color */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  width: 100%;
  padding: 20px;
}

/* Modal Header */
.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.modal-title {
  font-size: 1.5rem;
  color: #023246;
}

/* Modal Footer */
.modal-footer {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.btn-close {
  background: none;
  border: none;
  color: #023246;
  font-size: 1.5rem;
  cursor: pointer;
}

.btn-close:hover {
  color: #f1c40f;
}
.submit-btn:hover {
  background-color: #0056b3;
}
